body {
    background-color: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
}
.headerbar {
    position: absolute;
}
.headerbar .headerbar-left {
    background: #f1f1f1;
    padding-top: 4px;
}
.navbar-custom {
    background-color: #f1f1f1;
    min-height: 91px;
    margin-left: 0px;    
}
.navbar-custom .nav-link {
    color: #000000;
}
.navbar-custom ul.sessionSection {
    padding-top: 41px;
}
.headerbar .headerbar-left .logo img {
    background: url(../images/logo.png) no-repeat;
    width: 240px;
}
.headerbar .titleHeader{
    font-size: 2rem; 
    padding-left: 8px;   
}
.headerbar .dropdown-menu{
    border: 1px solid rgba(0,0,0,.15);
}
.profile-dropdown {
    width: 300px;
}
.notif .noti-title {
    background-color: #4c6e8e;
}
#main.enlarged .headerbar .headerbar-left .logo img {
    display: block; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../images/escudo.png) no-repeat;
    width: 70px;
    height: 75px;
    padding-left: 180px;
    margin-top: 8px;
}

body.adminbody .main-sidebar.left {
    padding-top: 41px;
}
.main-sidebar {
    padding-top: 41px;
    background: #f1f1f1;
    width: 200px;
}
.content-page{
    margin-left: 200px;
}
.content-page .content {
    margin-top: 91px;
}
.navbar-custom .menu-left {
    padding-top: 41px;
}
/* .navbar-custom .menu-left li.btnMnuMobile {
    padding-top: 46px;
} */
.mobile.smallscreen .sidebar-inner.leftscroll {
    overflow: hidden!important;
}
.button-menu-mobile {
    color: #656565;
}

#sidebar-menu .subdrop {
    color: #fff !important;
    background-color: #414d58;
    border-left: 2px solid #000000;
}
#sidebar-menu > ul > li > a {
    color: #000000;
}
#sidebar-menu > ul > li > a:hover {
    color: #FFF;
	background-color: #848484;
	border-left: 2px solid #000000; 
}
#sidebar-menu ul ul a {
    color: #484f56;
}
#sidebar-menu ul ul a:hover {
    color: red; 
}
#sidebar-menu > ul > li > a.active {
    background-color: #404040;
}
#sidebar-menu ul ul li.active a {
    color: red;
}
.breadcrumb-holder {
    background-color: #cccccc;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: none!important;
  color: black!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #cacaca!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .dataTables_paginate .current {
  background: #cacaca!important;
  background-color: #cacaca!important;
}
.dataTables_filter input, .dataTables_length select {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (max-width: 1024px){    
    .headerbar .titleHeader{
        font-size: 1.5rem;        
    }
}

@media (max-width: 768px){
    .navbar-custom {
        margin-left: 0px !important;
    }
    #main.forced .headerbar .headerbar-left .logo img{
        display: block; 
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(../images/escudo.png) no-repeat;
        width: 70px;
        height: 75px;
        padding-left: 180px;
        margin-top: 8px;
    }

    .headerbar .titleHeader{
        font-size: 1.3rem;
    }

    .iconografia{
        font-size: 12px;
    }
}

@media (max-width: 550px){    
    .headerbar .titleHeader{
        font-size: .8rem;
        width: 60%;
    }

    .iconografia{
        font-size: 10px;
    }
}

@media (max-width: 420px){    
    .headerbar .titleHeader{
        display: none;
    }
    .breadcrumb-holder {
        font-size: 14px;
    }
    .breadcrumb-holder .main-title {
        font-size: 1rem; 
    }
    .iconografia{
        font-size: 7px;
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #28a745;
    outline: 0;
    box-shadow: none;
}

.select2-container .select2-selection--single {
    height: 38px!Important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 5px!Important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px!Important;
}

input:focus, select:focus, .select2-selection:focus {
    color: #495057!Important;
    background-color: #fff!Important;
    border-color: #28a745!Important;
    outline: 0!Important;
    box-shadow: none!Important;
}

/* MARGIN RIGHT - {value} PERCENT */
.mr-20p{
    margin-right: 20%!Important;
}
.mr-30p{
    margin-right: 30%!Important;
}
.mr-40p{
    margin-right: 40%!Important;
}
.mr-50p{
    margin-right: 50%!Important;
}
.mr-60p{
    margin-right: 60%!Important;
}
.mr-70p{
    margin-right: 70%!Important;
}

.swalSessionRemainTime {
    font-size: 1.5em;
    color: red;
}

.borderButtom {
    border-bottom: 1px solid #cacaca!Important;
}
.thumbnailPreview{
    width: 250px;
    height: 250px;
}
.custom-file-label::after {
    content: "Abrir"!important;
}

div.imgPreview ul {
    margin: 0;
    padding: 0;
}

div.imgPreview li {
    text-align: center;
    display: inline-block;
}

div.imgPreview i {
    display: block;
    text-align: center;
}

div.imgPreview a{
  text-decoration:none;
  /* width:100%;
  height:100%; */
  display:block;
  margin:0;
  padding:0;
}

div.imgPreview a span{
  display:block;
}