
/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/

.center_row{
	float:none;
	margin:0 auto;
}

th{
	text-align: center;
}

body {
	color:#666666;
	font-size:14px;
}


tbody{
	text-align: center;

}


.clr{
    color: red;
}
